* {
      margin: 0;
}

body {

    background-color: 000000;
}

p {
    font-family: 'Questrial', sans-serif;
    text-align: justify;
    color: white;
    padding: 20px;
    line-height: 30px;
}

h1 {
    font-family: 'Questrial', sans-serif;
    color: white;
    padding: 20px;
}

h2 {
    font-family: 'Questrial', sans-serif;
    color: white;
    padding: 20px;
}

h3 {
    font-family: 'Questrial', sans-serif;
    color: white;
    padding: 20px;
}

a {
    color: black;
    padding: 20px;
}

a:link {
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    color: black;   
}

a:hover {
    font-family: 'Questrial', sans-serif;
    text-decoration: underline;
    color: black;
}

a:active {
    font-family: 'Questrial', sans-serif;
    text-decoration: underline;
    color: black;
}

.spacer {
    padding-right: 130px;
    padding-left: 130px;
}

.table-data {
    width: 600px;
}

.banner .table-data {
    width: 600px;
}

.nav {
    background-color: white;
    margin: 0;
    padding: 10px;
}

.nav a {
    padding-right: 20px;
    padding-top: 20px;
}

.art {
    padding-left: 20px;  
}

.audio {
    padding-top: 50px;
}